/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Digital Agency
Version:    1.0
Last change:    10/05/2024 [fixed Float bug, vf]
Author Name:	Ismail Hossain
Primary use:    Landing Page
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Number of contents]

1. Reset Css
2. Dafult Css
3. Button Css
4. Hero Section
5. features Section
6. About Section
-------------------------------------------------------------------*/

/*
==========================================
    1--Reset Css
==========================================
*/
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a:hover {
  text-decoration: none;
}
body {
  font-family: "Manrope", sans-serif;
}
/*
==========================================
    2--Dafult Css
==========================================
*/

.section__padding {
  padding: 120px 0;
}

.text__primary {
  color: #e5382a;
}
.text__body {
  color: #929191;
}
.text__secondary {
  color: #242424;
}

.bg__primary {
  background-color: #e5382a;
}
.bg__secondary {
  background-color: #242424;
}
.bg__nutral {
  background-color: #edf1f3;
}

.bg__transparent {
  position: relative;
  z-index: 1;
}
.bg__transparent:before {
  position: absolute;
  content: "";
  background: #fff;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
  top: 0;
  left: 0;
}

.border__secondary {
  border-color: #242424;
}

.font__manrope {
  font-family: "Manrope", sans-serif;
}

.font__space_grotesk {
  font-family: "Space Grotesk", sans-serif;
}
/*
==========================================
    3--Button Css
==========================================
*/
.theme__btn {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  padding: 10px 40px;
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
  border-radius: 6px;
}
.btn__primary:hover {
  background-color: #ec4b40;
}
.btn__small {
  padding: 10px 20px;
}

.btn__extra_small {
  padding: 10px 10px;
}

.btn__large {
  padding: 12px 50px;
}

.btn__primary {
  background-color: #e5382a;
  color: #fff;
}

.btn__secondary {
  background-color: #242424;
  color: #fff;
}
.btn__secondary:hover {
  background-color: #171616;
}
.theme__btn_text_icon {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
.theme__btn_text_icon__icon {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #e5382a;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.theme__btn_text_icon__icon::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #e5382a;
  opacity: 0.3;
  overflow: hidden;
  border-radius: 50%;
}
.theme__btn_text_icon__icon i {
  font-size: 12px;
  rotate: -45deg;
}

/*
==========================================
    2--Hero Section
==========================================
*/

.hero-section,
.hero-section__carousel-item {
  position: relative;
  z-index: 1;
}
.hero-section__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero-section__overly {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #242424;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.85;
}

/* shape */
.hero-section__carousel-item__shape_one {
  position: absolute;
  min-width: 492px;
  min-height: 663px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  top: 0;
  right: 0;
  z-index: -1;
}
.hero-section__carousel-item__shape_two {
  position: absolute;
  min-width: 795px;
  min-height: 805px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  bottom: -68px;
  right: 77px;
  z-index: -1;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.hero-section__carousel-item__shape_three {
  position: absolute;
  width: 119px;
  height: 114px;
  background-repeat: no-repeat;
  z-index: -1;
  top: 25%;
  left: 5%;
  animation-fill-mode: both;
  animation-duration: 1s;
}
.hero-section__carousel-item__shape_four {
  position: absolute;
  width: 119px;
  height: 114px;
  background-repeat: no-repeat;
  z-index: -1;
  bottom: 16%;
  left: 7%;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.hero-section__carousel-item__shape_five {
  position: absolute;
  width: 138px;
  height: 139px;
  background-repeat: no-repeat;
  z-index: -1;
  bottom: 5%;
  right: 31%;
  background-size: auto;
  animation-fill-mode: both;
  animation-duration: 1s;
}
.hero-section__carousel-item__shape_three img {
  animation: swing 3s ease 0s infinite;
}
.hero-section__carousel-item__shape_four img {
  animation: swing 3s ease 0s infinite;
}
.hero-section__carousel-item__shape_five img {
  width: 100%;
  height: auto;
  animation: heartBeat 3s ease 0s infinite;
}
.shape__style img {
  width: 100%;
  height: auto;
}

.hero-section__carousel-item__loading {
  position: absolute;
  background: #e5382a;
  height: 100%;
  width: 100%;
  z-index: 9999;
  opacity: 1;
  top: 0;
  left: 0;
  animation-fill-mode: both;
  animation-duration: 1.3s;
}

/* shape */

/* content */
.slider-content {
  padding: 190px 0 160px 0;
}
.slider-content__title {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  color: #fff;
  animation-fill-mode: both;
  animation-duration: 1s;
}
.slider-content__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  animation-fill-mode: both;
  animation-duration: 1s;
}
.slider-content__others__button {
  animation-fill-mode: both;
  animation-duration: 1s;
}
.slider-content__others {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}
.slider-content__others__user_text {
  display: flex;
  gap: 10px;
  animation-fill-mode: both;
  animation-duration: 1s;
}
.slider-content__others__user_text__list {
  display: flex;
  justify-content: start;
  align-items: center;
  min-width: 74px;
  padding: 0 10px;
}
.single_user_avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -8px;
  position: relative;
  overflow: hidden;
}
.single_user_avatar img {
  border: 2px solid #fff;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}
.single_user_avatar__add_user {
  position: absolute;
  background: #e5382a;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}
.single_user_avatar__add_user:hover {
  opacity: 0.9;
}
/* content */

/* animation */
.hero-section__carousel .active .hero-section__carousel-item__loading {
  opacity: 0;
  display: none;
  animation-delay: 1.3s;
}
.hero-section__carousel .active .slider-content__title {
  opacity: 1;
  animation-delay: 1.3s;
  animation-name: jackInTheBox;
}
.hero-section__carousel .active .slider-content__text {
  opacity: 1;
  animation-delay: 1.3s;
  animation-name: fadeInDown;
}
.hero-section__carousel .active .slider-content__others__button {
  opacity: 1;
  animation-delay: 1.3s;
  animation-name: fadeInLeft;
}
.hero-section__carousel .active .slider-content__others__user_text {
  opacity: 1;
  animation-delay: 1.3s;
  animation-name: fadeInRight;
}
.hero-section__carousel .active .hero-section__carousel-item__shape_two {
  opacity: 1;
  animation-delay: 1.3s;
  animation-name: fadeInLeft;
}
.hero-section__carousel .active .hero-section__carousel-item__shape_three {
  opacity: 1;
  animation-delay: 1.3s;
  animation-name: rotateIn;
}
.hero-section__carousel .active .hero-section__carousel-item__shape_four {
  opacity: 1;
  animation-delay: 1.3s;
  animation-name: rotateIn;
}
.hero-section__carousel .active .hero-section__carousel-item__shape_five {
  opacity: 1;
  animation-delay: 0.3s;
  animation-name: rotateIn;
}
/* animation */

/*
==========================================
    5--Features Section
==========================================
*/

.feature_content {
  border: 1px solid #cecece;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
  padding: 30px 30px 30px 35px;
  border-left-width: 0px;
  z-index: 1;
  transition: 0.5s ease-out;
}

.feature_content::before {
  position: absolute;
  height: calc(100% + 1px);
  width: 5px;
  background: linear-gradient(#e5382a 38%, black);
  content: "";
  left: 0;
  top: -1px;
  z-index: 2;
}

.feature_content__heading {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
.feature_content__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  padding: 20px 0px;
}

.feature_content:hover {
  background-color: #242424;
  transition: 0.5s ease-in;
}
.feature_content:hover .feature_content__heading {
  color: #fff;
}
.feature_content:hover .feature_content__text {
  color: #7c7c7c;
}
.feature_content:hover .theme__btn_text_icon {
  border-color: #fff !important;
}
.feature_content:hover .theme__btn_text_icon__icon::before {
  background-color: #fff;
  opacity: 1;
}

/*
==========================================
    6--About Section
==========================================
*/
.about_section {
  background-color: #ffefee;
  position: relative;
  z-index: 1;
}
.about_section_overly {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  top: 0;
  left: 0;
  z-index: -1;
}
.section_title__tag {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 0px;
  position: relative;
  padding-left: 28px;
}
.section_title__tag_icon {
  position: absolute;
  left: 0;
  top: 3px;
}
.section_title__tag_icon::before {
  width: 15px;
  height: 15px;
  content: "";
  background: #e5382a;
  left: 7px;
  top: -1px;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  border: 2px solid #fff;
}
.section_title__tag_icon::after {
  width: 12px;
  height: 12px;
  content: "";
  background: #e5382a;
  left: 0px;
  top: 0;
  position: absolute;
  z-index: -2;
  border-radius: 50%;
}
.section_title__heading_text {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -2px;
}
.about_content__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}

.about_content_services {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.about_content_services__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about_content_services__list_text {
  display: flex;
  align-items: center;
  gap: 12px;
}
.about_content_services__list_text_icon {
  height: 18px;
  width: 18px;
  background: #e5382a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.about_content_services__list_text_icon i {
  font-size: 11px;
}
.about_content_services__list_text_text {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}
.about_content_services__image {
  height: 154px;
  width: 228px;
}
.about_content_services__image img {
  max-width: 100%;
  height: auto;
}

/* expeiance */

.about_content_experiance__single {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.about_content_experiance__single_text.font__space_grotesk {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_content_experiance__single_text__text . {
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
}
.about_content_experiance__single_text__percentage {
  font-size: 16px;
  font-weight: 600;
  line-height: 15px;
}

.about_content_experiance {
  padding: 30px;
  border-radius: 15px;
  background-color: #fff;
}
.about_content_experiance__single_view {
  height: 10px;
  width: 100%;
  background-color: #edf1f3;
  border-radius: 50px;
  position: relative;
}
.about_content_experiance__single_view__percent {
  position: absolute;
  height: 100%;
  width: var(--experiance_percentage);
  background-color: red;
  border-radius: 50px;
}

/* about right side image */
.about_image {
  position: relative;
  padding: 0 0 85px 0;
}
.about_image__one {
  height: 662px;
  width: 520px;
  margin-left: auto;
}
.about_image__one img {
  min-width: 100%;
  height: auto;
}

.about_image__experiance {
  text-align: center;
  background: #e5382a;
  position: absolute;
  bottom: 30px;
  padding: 60px 32px;
  border-radius: 111px;
  color: #fff;
  left: 86px;
}

.about_image__experiance_text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  max-width: 100px;
}
.about_image__experiance_text__text {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  width: 80%;
}
.about_image__experiance_text__number {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

.about_image__two {
  height: 403px;
  width: 233px;
  border-radius: 150px;
  z-index: 1;
  position: absolute;
  bottom: 35px;
  right: -50px;
}
.about_image__two img {
  min-width: 100%;
  height: auto;
  border-radius: 120px;
}
.about_image__two:before {
  position: absolute;
  content: "";
  height: calc(100% + 50px);
  width: calc(100% + 30px);
  background: linear-gradient(to right, #e5382a, transparent);
  z-index: -1;
  left: -15px;
  top: -14px;
  border-radius: 120px;
}
