/*******************************
	All Responsive Code
*******************************/

@media only screen and (min-width: 1281px) and (max-width: 1500px) {
  /* hero section */

  .slider-content__title {
    font-size: 60px;
    line-height: 70px;
  }
  .hero-section__carousel-item__shape_one {
    min-width: 364px;
    min-height: 517px;
    top: 0;
    right: 0;
  }
  .hero-section__carousel-item__shape_two {
    min-width: 409px;
    min-height: 500px;
    bottom: 147px;
    right: 104px;
  }

  /* about section */

  .about_image__two {
    bottom: 35px;
    right: -22px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1280px) {
  /* hero section */
  .slider-content {
    padding: 150px 0 160px 0;
  }
  .slider-content__title {
    font-size: 60px;
    line-height: 70px;
  }
  .hero-section__carousel-item__shape_one {
    min-width: 364px;
    min-height: 517px;
    top: 0;
    right: 0;
  }
  .hero-section__carousel-item__shape_two {
    min-width: 446px;
    min-height: 540px;
    bottom: 89px;
    right: 108px;
  }
  .hero-section__carousel-item__shape_three {
    width: 100px;
    height: 105px;
    top: 8%;
    left: 6%;
  }
  .hero-section__carousel-item__shape_four {
    width: 105px;
    height: 110px;
    bottom: 7%;
    left: 14%;
  }
  .hero-section__carousel-item__shape_five {
    width: 95px;
    height: 100px;
    bottom: 15%;
    right: 31%;
  }

  /* about section */
  .about_image__two {
    bottom: 35px;
    right: -22px;
  }
  .about_image__experiance {
    left: 6px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* hero section */
  .slider-content {
    padding: 150px 0 160px 0;
  }
  .hero-section__carousel-item__shape_one {
    opacity: 0;
  }
  .hero-section__carousel-item__shape_two {
    display: 0;
  }
  .hero-section__carousel-item__shape_three {
    width: 100px;
    height: 105px;
    top: 7%;
    left: 10%;
  }
  .hero-section__carousel-item__shape_four {
    width: 105px;
    height: 110px;
    bottom: 7%;
    left: 14%;
  }
  .hero-section__carousel-item__shape_five {
    width: 110px;
    height: 115px;
    bottom: 42%;
    right: 14%;
  }
  .slider-content__title {
    font-size: 52px;
    line-height: 60px;
  }
  .slider-content__text {
    font-size: 14px;
    line-height: 26px;
    padding: 15px 0 !important;
  }
  .slider-content__others {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  /* about section */
  .about_image__one {
    margin: 0 auto !important;
  }
  .about_image__experiance {
    bottom: 30px;
    left: 60px;
  }
  .about_image__two {
    bottom: 35px;
    right: 25px;
  }

  /* btn */
  .btn__large {
    padding: 6px 30px;
  }
}

@media only screen and (max-width: 767px) {
  /* hero section */
  .slider-content {
    padding: 100px 0 100px 0;
  }
  .hero-section__carousel-item__shape_one {
    display: none;
  }
  .hero-section__carousel-item__shape_two {
    display: none;
  }
  .hero-section__carousel-item__shape_three {
    width: 70px;
    height: 75px;
    top: 3%;
    left: 16%;
  }
  .hero-section__carousel-item__shape_four {
    width: 65px;
    height: 70px;
    bottom: 7%;
    left: 5%;
  }
  .hero-section__carousel-item__shape_five {
    width: 90px;
    height: 95px;
    bottom: 42%;
    right: 4%;
  }
  .slider-content__title {
    font-size: 32px;
    line-height: 40px;
  }
  .slider-content__text {
    font-size: 14px;
    line-height: 26px;
    padding: 15px 0 !important;
  }
  .slider-content__others {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  /* about */
  .about_image__experiance {
    bottom: 30px;
    left: -30px;
  }
  .about_image__one {
    margin: 0 auto !important;
  }

  /* btn */
  .btn__large {
    padding: 6px 30px;
  }
}
@media only screen and (max-width: 574px) {
  /* hero section */
  .slider-content {
    padding: 80px 0 80px 0;
  }
  .hero-section__carousel-item__shape_one {
    display: none;
  }
  .hero-section__carousel-item__shape_two {
    display: none;
  }

  .hero-section__carousel-item__shape_five {
    display: none;
  }

  .slider-content__title {
    font-size: 40px;
    line-height: 50px;
  }
  .slider-content__text {
    font-size: 14px;
    line-height: 26px;
    padding: 15px 0 !important;
  }
  .slider-content__others {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  /* btn */
  .btn__large {
    padding: 6px 30px;
  }
  .theme__btn {
    font-size: 18px;
  }

  .section__padding {
    padding: 60px 0;
  }

  /* feature */
  .feature_content {
    padding: 30px 30px 30px 35px;
  }

  /* about section */
  .section_title__heading_text {
    font-size: 32px;
    line-height: 30px;
    letter-spacing: -1px;
  }
  .about_content__text {
    font-size: 16px;
    line-height: 26px;
  }
  .about_content_services {
    background-color: #fff;
    display: flex;
    gap: 25px;
    align-items: center;
    flex-direction: row;
    padding: 0px 0px 0 30px;
    border-radius: 15px;
  }
  .about_content_services__list_text_text {
    font-size: 14px;
    line-height: 24px;
  }

  .about_image {
    padding: 0 0 85px 0;
  }
  .about_image__two {
    height: 403px;
    width: 233px;
    border-radius: 150px;
    z-index: 1;
    position: absolute;
    bottom: 3px;
    right: 0px;
  }
}

@media only screen and (max-width: 480px) {
  /* hero section */
  .slider-content {
    padding: 50px 0 50px 0;
  }
  .hero-section__carousel-item__shape_one {
    display: none;
  }
  .hero-section__carousel-item__shape_two {
    display: none;
  }

  .hero-section__carousel-item__shape_five {
    display: none;
  }
  .slider-content__title {
    font-size: 36px;
    line-height: 40px;
  }
  .slider-content__text {
    font-size: 14px;
    line-height: 26px;
    padding: 15px 0 !important;
  }
  .slider-content__others {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  /* btn */
  .btn__large {
    padding: 6px 30px;
  }
  .section__padding {
    padding: 60px 0;
  }
  .theme__btn_text_icon {
    font-size: 14px;
    line-height: 28px;
    gap: 8px;
    padding-top: 15px !important;
  }
  .theme__btn {
    font-size: 16px;
  }

  /* feature */
  .feature_content {
    padding: 30px 30px 30px 35px;
  }
  .feature_content__heading {
    font-size: 20px;
    line-height: 26px;
  }
  .feature_content__text {
    font-size: 14px;
    line-height: 26px;
    padding: 15px 0px;
  }

  /* about section */
  .section_title__heading_text {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0px;
  }
  .about_content__text {
    font-size: 14px;
    line-height: 26px;
  }
  .about_content_services {
    background-color: #fff;
    display: flex;
    gap: 25px;
    align-items: center;
    flex-direction: column;
    padding: 25px 0px;
    border-radius: 15px;
  }
  .about_content_services__list_text_text {
    font-size: 14px;
    line-height: 24px;
  }

  .about_image {
    padding: 0 0 70px 0;
  }
  .about_image__one {
    height: 550px;
    width: 455px;
  }
  .about_image__one img {
    max-width: 100%;
  }
  .about_image__two {
    height: 200px;
    width: 120px;
    bottom: 26px;
    right: -5px;
  }
  .about_image__two::before {
    height: calc(100% + 30px);
    width: calc(100% + 11px);
    left: -6px;
    top: -5px;
  }
  .about_image__two img {
    max-width: 100%;
    height: auto;
    border-radius: 120px;
  }

  .about_image__experiance {
    bottom: 0px;
    padding: 25px 12px;
    left: -10px;
  }
  .about_image__experiance_text {
    max-width: 90px;
  }
  .about_image__experiance_text__number {
    font-size: 22px;
    line-height: 30px;
  }
  .about_image__experiance_text__text {
    font-size: 14px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 300px) {
  /* hero section */
  .slider-content {
    padding: 50px 0 50px 0;
  }
  .hero-section__carousel-item__shape_one {
    display: none;
  }
  .hero-section__carousel-item__shape_five {
    display: none;
  }

  .slider-content__title {
    font-size: 32px;
    line-height: 40px;
  }
  .slider-content__text {
    font-size: 14px;
    line-height: 26px;
    padding: 15px 0 !important;
  }
  .slider-content__others {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  /* btn */
  .btn__large {
    padding: 6px 30px;
  }

  .section__padding {
    padding: 60px 0;
  }
  .theme__btn_text_icon {
    font-size: 14px;
    line-height: 28px;
    gap: 8px;
    padding-top: 15px !important;
  }
  .theme__btn {
    font-size: 16px;
  }

  /* feature section */
  .feature_content {
    padding: 20px 20px 20px 25px;
  }
  .feature_content__heading {
    font-size: 20px;
    line-height: 26px;
  }
  .feature_content__text {
    font-size: 14px;
    line-height: 26px;
    padding: 15px 0px;
  }

  /* about section */
  .section_title__heading_text {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0px;
  }
  .about_content__text {
    font-size: 14px;
    line-height: 26px;
  }
  .about_content_services {
    background-color: #fff;
    display: flex;
    gap: 25px;
    align-items: center;
    flex-direction: column;
    padding: 25px 0px;
    border-radius: 15px;
  }
  .about_content_services__list_text_text {
    font-size: 14px;
    line-height: 24px;
  }

  .about_image {
    padding: 0 0 40px 0;
  }
  .about_image__one {
    height: 350px;
    width: 275px;
    /* margin-left: auto; */
  }
  .about_image__one img {
    max-width: 100%;
  }
  .about_image__two {
    height: 200px;
    width: 120px;
    bottom: 26px;
    right: -5px;
  }
  .about_image__two::before {
    height: calc(100% + 30px);
    width: calc(100% + 11px);
    left: -6px;
    top: -5px;
  }
  .about_image__two img {
    max-width: 100%;
    height: auto;
    border-radius: 120px;
  }

  .about_image__experiance {
    bottom: 0px;
    padding: 25px 12px;
    left: -10px;
  }
  .about_image__experiance_text {
    max-width: 90px;
  }
  .about_image__experiance_text__number {
    font-size: 22px;
    line-height: 30px;
  }
  .about_image__experiance_text__text {
    font-size: 14px;
    line-height: 20px;
  }
}
